<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        style
            include ./email.css
        
    body
        h2 👻Confirma tu cuenta nueva UpTask👻
        p Hola; has solicitado una nueva cuenta en UpTask; Ya estas casi Inscrito, solo presiona en el siguiente boton para finalizar la configuracion de tu cuenta
        a(href=`${confirmarUrl}`) Confirmar Cuenta
        p Si no puedes acceder a este enlace, visita #{confirmarUrl}
        p Sí no solicitaste este e-Mail, puedes ignorarlo